@import "tailwindcss";

@font-face {
  font-family: 'poppins';
  src: url(./assets/font/Poppins-Medium.ttf);
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}